/GlobussoftTechnologies.ChatApp/GlobussoftTechnologies.ChatApp/obj
/GlobussoftTechnologies.ChatApp/GlobussoftTechnologies.ChatApp/bin
/GlobussoftTechnologies.ChatApp/GlobussoftTechnologies.ChatApp.Presentation/obj
/GlobussoftTechnologies.ChatApp/GlobussoftTechnologies.ChatApp.Presentation/bin
/GlobussoftTechnologies.ChatApp/GlobussoftTechnologies.ChatlistUIModule/obj
/GlobussoftTechnologies.ChatApp/GlobussoftTechnologies.ChatlistUIModule/bin
/GlobussoftTechnologies.ChatApp/GlobussoftTechnologies.ToolbarModule/bin
/GlobussoftTechnologies.ChatApp/GlobussoftTechnologies.ToolbarModule/obj
